body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    background-color:#092026 ;
    color: white;
}

header {
text-align: left;
font-weight: 600;
font-size: 1.5rem;
margin-top: 20px;
margin-left: 40px;
display: flex;
position: absolute;
}

.onglets { 
  display: flex;
margin-left: 40px;
padding-top: 40px;
z-index: 1200;
}

.onglet { 
  padding-left: 40px;
font-size: 1rem;
font-weight: 300;
}

a {
  text-decoration: none;
  color: white;
}


.logo {
  z-index: 2000;
}

.Titre {
position: absolute;
  z-index: 400;
width: 400;
font-size: 4rem;
}

.texte_photo {
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
}

.texte {
  margin: 5vw 30vw;
  font-size: 1.3rem;
}

.scroll-container {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
 background-color: #050d0f;
  height: 30vw;
}

.newsletter { 
 margin-top: 30px ;
  margin-left: 40vw;
  text-align: center;
  color: white;
}

hr {
  color: white;
  width: 270px;
  position: relative;
  bottom: 10px;
  }

  .abo {
    background-color: white;
    color: #632038;
    padding: 8px;
    border-radius: 20px;
}

.mail {
  text-align: start;
  font-style: italic;
  position: relative;
top: 5px;
color: white;
}

.abo:hover {
  background-color:#092026 ;
  color: white;
  }

  #fname {
    background-color: rgba(255, 255, 45, 0);
    border: none;
    color: white;
    font-weight: 500;
    font-style: italic;
    position: relative;
    top: 12px;
    right: 40px;
}

.bas {
  position: absolute;
}